:root{
  --primary: #427aa1; 
  --bhp1:#4ad66d;
}

body{
    font-family: 'Roboto Slab', serif;
}

.btn-primary{
    background-color: var (--primary);
}

.bg-primary{
    background-color: var(--primary) !important;
}

.bg-colo-p1{
    background-color: var(--bhp1) !important;
}

.btn-primary:hover{
    background-color: var(--primary);
}

.navbar:not(.navbar-dashboar){
    min-height: 0.5px;
    margin: 3px 0px;
    
}


.content{
    max-width: 2000px;
}
.display-4{
    
    position: relative;
    background-color: var(--primary);
    min-height: 0.5px;
    margin: 3px 0px;

}
.text-light {
    color: #f7f4f5!important;
}
.content{
    max-width: 500px;
}
.list-subject{
    position: relative;
}
.list-subject::after{
    content: "";
    border-right: 1px solid #000;
    height: 60px;
    position: absolute;
    top: 35px;
}

.publications img{  
    max-height: 600px;
    max-width: 100%;
    border-radius: 20px;
}
  
.info-content {
     border-radius: 20px;
}
.info-content  .btn{
    padding: 625rem 1.25rem;
    background-color: red;
}

.my-form{
    max-width: 450px;
    }

.my-form .form-control{
    min-height: 80px;
}

.my-form .btn{
    top: 12px;
    right: 10px;
    min-height: 55px;
    }


@media (max-width:1376px){
    .container-mobile{
        max-width: 95%;
    }
}

@media (max-width:992px){
    .navbar{
        position: relative !important;
    }

    section{
        height: unset;
    }

    .w-75{
        width: 100% !important;
    }
    .content{
        max-width: 100%;
    }
    .my-text{
        text-align: center !important;
    }
    .html, body{
        overflow-x:hidden
    }
}

/*..................................................*/

.img-logo-dashboart{
    width: 28px;
    height: 28px;
}

.list-group-item {
    background-color: var(--primary) ;
    color:floralwhite;
}

.item-link:hover{ 
    color: #fff !important;
    background-color: #1db985 !important;
    border-radius: 35px 35px 35px 35px;
}

.navbar-toggler:focus{
    box-shadow: initial !important;
}

